@import "../../assets/css/index.css"; 

.pizzaContainer {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  pointer-events: none;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
}

.pizzaImage {
  width: 50vw;
  max-width: 900px;
  margin-top: 15vh; 
  
filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2)) 
          drop-shadow(0px 0px 45px rgba(0, 0, 0, 0.15));
  will-change: transform;
}

/* Remova ou altere o display none se quiser que ela apareça abaixo de 768px */
@media (max-width: 1240px) {

  .pizzaContainer{
    position: absolute;
   height: 200dvh;
  }

  .pizzaImage {
    display: block; /* Garante que ela apareça */
    width: 40vw;    /* Ajusta o tamanho para telas pequenas */
    margin-top: 30vh;
  }
}
/* Remova ou altere o display none se quiser que ela apareça abaixo de 768px */
@media (max-width: 768px) {


  .pizzaImage {
    width: 35vw;    /* Ajusta o tamanho para telas pequenas */
    margin-top: 12vh;
  }
}
/* Remova ou altere o display none se quiser que ela apareça abaixo de 768px */
@media (max-width: 672px) {
  .pizzaImage {
    margin-top: 20vh;
  }
}

@media (max-width: 400px) {
  .pizzaImage {
    margin-top: 10vh;
    width: 65vw;    /* Ajusta o tamanho para telas pequenas */

  }
}