@import '../../assets/css/index.css';

.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  overflow-y: hidden;
}

.logo{
  width: 150px;
  height: 100px;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  text-decoration: none;
  list-style-type: none;
}